/nbproject/
/vendor/
/data/
application/logs/
node_modules/
assets/views/
npm-debug.log
/application/config/assets_version.php
.settings/org.eclipse.wst.validation.prefs
.project
.buildpath
vim.exe.stackdump
.vscode/launch.json
token.json
.idea/
assets/js/react-component/
yarn.lock
hiringroom.rar
dockerfiles/
docker-compose.yml
mongod.conf